<style>
  /* 1. Logoyu Tekrar Büyütme ve Vurgulama */
  .site-logo img {
    max-height: 200px !important; /* Logonu tekrar belirgin hale getirdik */
    width: auto !important;
    margin-bottom: 2px;
    display: block;
  }

   /* 3. Sol Profil Alanını (İsim ve Bio) Küçültme */
  .author__name {
    font-size: 1.1rem !important;
    margin-top: 10px !important;
  }
  
  .author__bio {
    font-size: 0.8rem !important;
    line-height: 1.3 !important;
    color: #666 !important;
  }
  
  .author__urls li {
    font-size: 0.8rem !important;
  }

  /* 4. Menüdeki Metin Başlığını Gizle */
  .site-title {
    display: none !important;
  }

  /* 5. Sayfa Boşluklarını Düzenleme (İçeriği Yukarı Çekme) */
  .initial-content {
    margin-top: 0 !important;
  }
  .page__inner-wrap {
    margin-top: -30px !important;
  }
</style>
